<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> TEST TO CHECK WHETHER YOU WILL GET PLACED IN A COMPANY THROUGH ON-CAMPUS PLACEMENT </h1><br>
        
        <!-- <form method="POST", action="/"> -->
        <form method="POST", action="{{url_for('home')}}">
           <b> ENTER YOUR CGPA :  <input type="number", name='a', placeholder="enter 1"> 
            <br>
            <br>
           <b> ENTER YOUR IQ :  <input type="number", name='b', placeholder="enter 2"> <br><br>
            <input type="submit" , value='predict!' >
        </form>

        
    </center>

    </body>
</html>